{% load static %}
<!doctype html>

<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152868638-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-152868638-1');
        </script>

        <meta charset="utf-8">

        <title>{% block title %}Base{% endblock %}</title>
        <meta name="description" content="PM2.5 Forecast">
        <meta name="keywords" content="PM2.5, Forecast, Timeseries, Machine Learning">
        <meta name="author" content="dongee-w">
        <link rel="shortcut icon" type="image/png" href="{% static "logo.png" %}"/>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
        
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.js"></script>
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>-->
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        {% block local_import %}{% endblock %}
        
        
        

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        
        <div class="ui top fixed menu">
            <div class="item">
                <img src="{% static "logo.png" %}">
            </div>
            <a class="item" href="/">Home</a>
            <!--
            <a class="item" href="/overview/0">Overview: Mahajan</a>
            <a class="item" href="/overview/1">Overview: Yang</a>
            -->
        </div>
        <div class="ui container">
            {% block content %}{% endblock %}
            
            <div class="ui divider" id="footer-divider"></div>
            <div class="ui grid" id="footer-message">
                <div class="five wide column" >
                    <a class="ui image label" id="emblem">
                        <img src="{% static "academia-sinica-desaturated.png" %}">
                        LASS/Academia Sinica
                    </a>
                </div>
                <div class="ten wide column">
                    <div id="footer-word">This service is an academic project and is not intended to be a subsitute for the official forecast service.</div>
                </div> 
            </div>
        </div>
    </body>
</html>