{% load static %}
<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>{% block title %}Base{% endblock %}</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
    
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>-->
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% block local_import %}{% endblock %}
    
    
    

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    </head>

    <body>
        <div class="ui top fixed menu">
            <div class="item">
                <img src="/images/logo.png">
            </div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/overview/0">Overview: Mahajan</a>
            <a class="item" href="/overview/1">Overview: Yang</a>
        </div>
        <div class="ui container">
            {% block content %}{% endblock %}
            
            <div class="ui divider" id="footer-divider"></div>
            <img class="ui centered image tiny emblem" src="{% static "academia-sinica-desaturated.png" %}" alt="Academia_Sinica_Emblem">
            <div id="footer-word">Powered by d3js, semantic ui</div>
        </div>
    </body>
</html>