{% load static %}
<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>PM2.5 Forecast | LASS | AC</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
    
    
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.2/d3.js"></script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>


    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    

    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    </head>
    <body>
        <div class="ui container" >
            <h2 class="ui center aligned icon header" id="center-message">
                <i class="newspaper icon"></i>
                <div class="content">
                    Welcome to PM 2.5 Forecast Service!
                </div>
                <div class="sub header">an AirBox project</div>
            </h2>
            <div class="ui four column grid container" id="container">
                <div class = "column"></div>
                <div class = "column">
                    <a class="ui fluid card" href="/epamain">
                        <div class="image">
                            <img src="{% static "EPAx.jpg" %}">
                        </div>
                        <div class="content">
                            <div class="header">環保署</div>
                            <div class="meta">
                            <span class="date">Currently online</span>
                            </div>
                            <div class="description">
                            Predictions based on EPA data.
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="column">
                    <a class="ui fluid card " href="/abmain">
                        <div class="image">
                            <img src="{% static "LASS.jpg" %}">
                        </div>
                        <div class="content">
                            <div class="header">AirBox</div>
                            <div class="meta">
                            <span class="date">Currently online</span>
                            </div>
                            <div class="description">
                            Predictions based on AirBox data.
                            </div>
                        </div>
                    </a>
                </div>
                <div class = "column"></div>
            </div>
        </div>
    </body>
</html>