{% extends "base.html" %}
{% load static %}

{% block title %}Performance evaluation{% endblock %}

{% block local_import %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
<h2 class="ui center aligned icon header" id="center-message">
    <i class="newspaper icon"></i>
    <div class="content">
            PM 2.5 Forecast Service
        <div class="sub header">an AirBox project</div>
    </div>
</h2>
<table class="ui  celled definition structured table">
    <thead>
      <tr>
        <th></th>
        <th colspan="6" class="center aligned">Median Relative Error</th>
      </tr>  
      <tr>
        <th></th>
        <th>Name</th>
        <th>One-hour error</th>
        <th>Two-hour error</th>
        <th>Three-hour error</th>
        <th>Four-hour error</th>
        <th>Five-hour error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="collapsing">
            <button class="ui primary button" onclick="location.href='/overview/0'">
                Overview
            </button>
        </td>
        <td>Mahajan Model</td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{sachit.h1.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{sachit.h2.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{sachit.h3.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{sachit.h4.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{sachit.h5.median_relative_error}}%
                </div>
            </div>
        </td>
      </tr>
      <tr>
        <td class="collapsing">
            <button class="ui primary button" onclick="location.href='/overview/1'">
                Overview
            </button>
        </td>
        <td>Yang Model</td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{yang.h1.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{yang.h2.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{yang.h3.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui  tiny statistic">
                <div class="value">
                {{yang.h4.median_relative_error}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{yang.h5.median_relative_error}}%
                </div>
            </div>
        </td>
      </tr>
      <!--
      <tr>
        <td class="collapsing">
            <button class="ui primary button" onclick="location.href='/overview/3'">
                Overview
            </button>
        </td>
        
        <td>Mahajan-Liu Model (with clustering)</td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_1}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_2}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_3}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_4}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_5}}%
                </div>
            </div>
        </td>
        </tr>
        -->
    </tbody>
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="6">
            <div class="ui equal width grid">
                <div class="equal width row">
                    <div class="column"></div>

                    <div class="column">
                        <ol class="ui list">
                            <li value="*">Despite lower accuracy, Yang Model runs about 6,000 times faster than Mahajan Model at current state.</li>
                        </ol>
                    </div>
                </div>
              </div>
        </th>
      </tr>
    </tfoot>
  </table>

<div class="ui horizontal divider" id="cdf_divider">
    <i class="chart line icon"></i>
    Relative Error CDF
</div>


<div class="ui equal width grid">
    <div class="equal width row">
        <div class="column" id="one-hour"></div>
        <div class="column" id="two-hour"></div>
        <div class="column" id="three-hour"></div>
        <div class="column" id="four-hour"></div>
        <div class="column" id="five-hour"></div>
    </div>
  </div>

<div class="ui horizontal divider" id="description_divider">
    <i class="tag icon"></i>
    Description
</div>
<div class="ui list">
    <div class="item">
        <div class="header">Mahajan Model</div>
        We use a hybrid model to do the forecast. 
        The Hybrid model is made by utilizing the Autoregressive 
        Integrated Moving Average (ARIMA) model and Neural Network 
        Autoregressive (NNAR) model.
    </div>
    <div class="item">
        <div class="header">Yang Model</div>
        This model is based on the degree of corelation between stations. 
        By using historical data and Tikhonov regularization to estimate 
        the degree of corelation between stations, future pm2.5
        can be accurately computed.
    </div>
    <div class="item">
        <div class="header">Mahajan-Liu Model (with clustering)</div>
        We use a combination of Neural network based Hybrid model 
        and Wavelet-based Clustering to perform hourly PM2.5 prediction. 
        The work is currently under review for publication now.
    </div>
</div>


<script type="text/javascript">
            Plotly.d3.csv("https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv", function(err, rows){

        function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
        }

        


        var oneY = {
            x: {{yang.h1.xaxis}},
            y: {{yang.h1.yaxis}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var oneM = {
            x: {{sachit.h1.xaxis}},
            y: {{sachit.h1.yaxis}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var twoY = {
            x: {{yang.h2.xaxis}},
            y: {{yang.h2.yaxis}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var twoM = {
            x: {{sachit.h2.xaxis}},
            y: {{sachit.h2.yaxis}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var threeY = {
            x: {{yang.h3.xaxis}},
            y: {{yang.h3.yaxis}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var threeM = {
            x: {{sachit.h3.xaxis}},
            y: {{sachit.h3.yaxis}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var fourY = {
            x: {{yang.h4.xaxis}},
            y: {{yang.h4.yaxis}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var fourM = {
            x: {{sachit.h4.xaxis}},
            y: {{sachit.h4.yaxis}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var fiveY = {
            x: {{yang.h5.xaxis}},
            y: {{yang.h5.yaxis}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var fiveM = {
            x: {{sachit.h5.xaxis}},
            y: {{sachit.h5.yaxis}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var CDF_One = [oneY, oneM];
        var CDF_Two = [twoY, twoM];
        var CDF_Three = [threeY, threeM];
        var CDF_Four = [fourY, fourM];
        var CDF_Five = [fiveY, fiveM];


        var CDFlayout1 = {
            title: 'One-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        var CDFlayout2 = {
            title: 'Two-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        var CDFlayout3 = {
            title: 'Three-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        var CDFlayout4 = {
            title: 'Four-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
            
        };
        var CDFlayout5 = {
            title: 'Five-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        Plotly.newPlot('one-hour', CDF_One, CDFlayout1,{displayModeBar: false});
        Plotly.newPlot('two-hour', CDF_Two, CDFlayout2, {displayModeBar: false});
        Plotly.newPlot('three-hour', CDF_Three, CDFlayout3, {displayModeBar: false});
        Plotly.newPlot('four-hour', CDF_Four, CDFlayout4, {displayModeBar: false});
        Plotly.newPlot('five-hour', CDF_Five, CDFlayout5, {displayModeBar: false});
        $(".g-ytitle").attr("transform", "translate(10,0)");
        })
</script>
{% endblock %}