{% extends "base.html" %}
{% load static %}

{% block title %}Performance evaluation{% endblock %}

{% block local_import %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
<h2 class="ui center aligned icon header" id="center-message">
    <i class="newspaper icon"></i>
    <div class="content">
            PM 2.5 Forecast Service
        <div class="sub header">an AirBox project</div>
    </div>
</h2>
<table class="ui  celled definition structured table">
    <thead>
      <tr>
        <th></th>
        <th colspan="6" class="center aligned">Median Relative Error</th>
      </tr>  
      <tr>
        <th></th>
        <th>Name</th>
        <th>One-hour error</th>
        <th>Two-hour error</th>
        <th>Three-hour error</th>
        <th>Four-hour error</th>
        <th>Five-hour error</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="collapsing">
            <button class="ui primary button" onclick="location.href='/overview/0'">
                Overview
            </button>
        </td>
        <td>Mahajan Model</td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_1}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_2}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_3}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_4}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_5}}%
                </div>
            </div>
        </td>
      </tr>
      <tr>
        <td class="collapsing">
            <button class="ui primary button" onclick="location.href='/overview/1'">
                Overview
            </button>
        </td>
        <td>Yang Model</td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorY_1}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorY_2}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorY_3}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui  tiny statistic">
                <div class="value">
                {{medianErrorY_4}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorY_5}}%
                </div>
            </div>
        </td>
      </tr>
      <tr>
        <td class="collapsing">
            <button class="ui primary button" onclick="location.href='/overview/3'">
                Overview
            </button>
        </td>
        <td>Mahajan Model with clustering</td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_1}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_2}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_3}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_4}}%
                </div>
            </div>
        </td>
        <td>
            <div class="ui tiny statistic">
                <div class="value">
                {{medianErrorM_5}}%
                </div>
            </div>
        </td>
        </tr>
    </tbody>
    <!--
    <tfoot class="full-width">
      <tr>
        <th></th>
        <th colspan="6">
          <div class="ui right floated small primary labeled icon button">
            <i class="user icon"></i> Add User
          </div>
          <div class="ui small button">
            Approve
          </div>
          <div class="ui small  disabled button">
            Approve All
          </div>
        </th>
      </tr>
    </tfoot>-->
  </table>

<div class="ui horizontal divider" id="cdf_divider">
    <i class="chart line icon"></i>
    Relative Error CDF
</div>


<div class="ui equal width grid">
    <div class="equal width row">
        <div class="column" id="one-hour"></div>
        <div class="column" id="two-hour"></div>
        <div class="column" id="three-hour"></div>
        <div class="column" id="four-hour"></div>
        <div class="column" id="five-hour"></div>
    </div>
  </div>

<div class="ui horizontal divider" id="description_divider">
    <i class="tag icon"></i>
    Description
</div>
<div class="ui list">
    <div class="item">
        <div class="header">Mahajan Model</div>
        We use a hybrid model to do the forecast. 
        The Hybrid model is made by utilizing the Autoregressive 
        Integrated Moving Average (ARIMA) model and Neural Network 
        Autoregressive (NNAR) model.
    </div>
    <div class="item">
        <div class="header">Yang Model</div>
        This model is based on the degree of corelation between stations. 
        By using historical data and Tikhonov regularization to estimate 
        the degree of corelation between stations, future pm2.5
        can be accurately computed.
    </div>
    <div class="item">
        <div class="header">Mahajan Model with clustering</div>
        We use a combination of Neural network based Hybrid model 
        and Wavelet-based Clustering to perform hourly PM2.5 prediction. 
        The work is currently under review for publication now.
    </div>
</div>


<script type="text/javascript">
            Plotly.d3.csv("https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv", function(err, rows){

        function unpack(rows, key) {
        return rows.map(function(row) { return row[key]; });
        }

        


        var oneY = {
            x: {{xaxis}},
            y: {{dataStringY_1}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var oneM = {
            x: {{xaxis}},
            y: {{dataStringM_1}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var twoY = {
            x: {{xaxis}},
            y: {{dataStringY_2}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var twoM = {
            x: {{xaxis}},
            y: {{dataStringM_2}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var threeY = {
            x: {{xaxis}},
            y: {{dataStringY_4}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var threeM = {
            x: {{xaxis}},
            y: {{dataStringM_3}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var fourY = {
            x: {{xaxis}},
            y: {{dataStringY_4}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var fourM = {
            x: {{xaxis}},
            y: {{dataStringM_4}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var fiveY = {
            x: {{xaxis}},
            y: {{dataStringY_5}},
            name: 'Yang',
            type: 'scatter',
            line: {color: 'rgb(255, 214, 51)'}
        };

        var fiveM = {
            x: {{xaxis}},
            y: {{dataStringM_5}},
            name: 'Mahajan',
            type: 'scatter',
            line: {color: 'rgb(51, 153, 102)'}
        };

        var CDF_One = [oneY, oneM];
        var CDF_Two = [twoY, twoM];
        var CDF_Three = [threeY, threeM];
        var CDF_Four = [fourY, fourM];
        var CDF_Five = [fiveY, fiveM];


        var CDFlayout1 = {
            title: 'One-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        var CDFlayout2 = {
            title: 'Two-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        var CDFlayout3 = {
            title: 'Three-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        var CDFlayout4 = {
            title: 'Four-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
            
        };
        var CDFlayout5 = {
            title: 'Five-hour',
            autosize: true,
            legend: {
                x: 0,
                y: 1.2
            },
            height: 350,
            margin: {
                l: 33,
                r: 33,
                b: 30,
                pad: 0
            },
            xaxis: {
                title: 'Relative Error',
                titlefont: {
                size: 12,
                },
                zeroline: false,
            },
            yaxis: {
                title: 'CDF',
                titlefont: {
                size: 12,
                },
            }
        };
        Plotly.newPlot('one-hour', CDF_One, CDFlayout1,{displayModeBar: false});
        Plotly.newPlot('two-hour', CDF_Two, CDFlayout2, {displayModeBar: false});
        Plotly.newPlot('three-hour', CDF_Three, CDFlayout3, {displayModeBar: false});
        Plotly.newPlot('four-hour', CDF_Four, CDFlayout4, {displayModeBar: false});
        Plotly.newPlot('five-hour', CDF_Five, CDFlayout5, {displayModeBar: false});
        $(".g-ytitle").attr("transform", "translate(10,0)");
        })
</script>
{% endblock %}